/**
 * All components' CSS selectors are prefixed by postcss-prefixwrap.
 * This ensures that we isolate the resets to inside of our application,
 * but still can easily (without even thinking about it) overcome
 * the resulting strong selectors of the reset with the styles inside
 * of our component.
 */
@import '~normalize.css';

ul,
ol { // overcome very strong selector, e.g. .content ul li
	margin: 0;

	li {
		margin: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	// undo the vector template's unusual style of underlining all headline tags
	border-bottom: 0;
	padding: 0;
}

ul {
	padding-left: 1.5em;

	// undo MinervaNeue’s reset.css setting list-style: none
	list-style-type: disc;
}

strong,
b {
	font-weight: $bold-font-weight;
}
