@import '~wikimedia-ui-base/wikimedia-ui-base';

/**
 * Many variables are inspired, in naming and value, by the ones found in
 * https://phabricator.wikimedia.org/diffusion/GOJU/browse/master/src/themes/wikimediaui/common.less
 */

$base-font-size-browser: 16px; // assumed browser default
$base-font-size-desired-factor: 0.875;
$base-font-size-desired: $base-font-size-browser * $base-font-size-desired-factor; // i.e. 14px

$size-dialog-bar--desktop: 40px;
$font-size-dialog-process-title: 1.1em;

$padding-panel-form: px-to-em( 16px );
$base-spacing-unit: 8px;
$binary-input-inter-component-spacing: 2 * $base-spacing-unit;

$size-icon: #{ 20px / $base-font-size-desired-factor / $base-font-size-browser }em;
$size-permissions-icon: px-to-em( 14px );
// TODO taken from: https://gerrit.wikimedia.org/r/plugins/gitiles/wikibase/termbox/+/master/src/styles/_variables.scss
$color-placeholder: $wmui-color-base30;

$border-color-base--disabled: $wmui-color-base70;

$padding-vertical-base: px-to-em( 6px );
$padding-horizontal-base: px-to-em( 12px );

$margin-center-column-left: 26px;

$notice-message-background: $wmui-color-base80;
$notice-message-border: $wmui-color-base50;

// project specific
$breakpoint: 500px;// 499+1

$grid-breakpoints: ( breakpoint: $breakpoint );

$svg-cancel: url( ~oojs-ui/dist/themes/wikimediaui/images/icons/close.svg );
$svg-notice: url( ~oojs-ui/dist/themes/wikimediaui/images/icons/notice.svg );
$svg-info: url( ~oojs-ui/dist/themes/wikimediaui/images/icons/infoFilled.svg );
$svg-collapse: url( ~oojs-ui/dist/themes/wikimediaui/images/icons/collapse-progressive.svg );
$svg-expand: url( ~oojs-ui/dist/themes/wikimediaui/images/icons/expand-progressive.svg );
