[submodule "view/lib/wikibase-data-values-value-view"]
	path = view/lib/wikibase-data-values-value-view
	url = https://gerrit.wikimedia.org/r/data-values/value-view
[submodule "view/lib/wikibase-api"]
	path = view/lib/wikibase-api
	url = https://gerrit.wikimedia.org/r/wikibase/javascript-api
[submodule "view/lib/wikibase-serialization"]
	path = view/lib/wikibase-serialization
	url = https://github.com/wmde/WikibaseSerializationJavaScript.git
[submodule "view/lib/wikibase-data-values"]
	path = view/lib/wikibase-data-values
	url = https://github.com/wmde/DataValuesJavaScript.git
[submodule "view/lib/wikibase-data-model"]
	path = view/lib/wikibase-data-model
	url = https://github.com/wmde/WikibaseDataModelJavaScript.git
