[submodule "view/lib/wikibase-data-values-value-view"]
	path = view/lib/wikibase-data-values-value-view
	url = https://gerrit.wikimedia.org/r/data-values/value-view
[submodule "view/lib/wikibase-serialization"]
	path = view/lib/wikibase-serialization
	url = https://phabricator.wikimedia.org/source/wikibase-serialization.git
[submodule "view/lib/wikibase-data-values"]
	path = view/lib/wikibase-data-values
	url = https://phabricator.wikimedia.org/source/datavalues-javascript.git
[submodule "view/lib/wikibase-data-model"]
	path = view/lib/wikibase-data-model
	url = https://phabricator.wikimedia.org/source/wikibase-data-model.git
[submodule "view/lib/wikibase-termbox"]
	path = view/lib/wikibase-termbox
	url = https://gerrit.wikimedia.org/r/wikibase/termbox

[submodule "lib/resources/wikibase-api"]
	path = lib/resources/wikibase-api
	url = https://gerrit.wikimedia.org/r/wikibase/javascript-api
