*~
*.kate-swp

composer.phar
composer.lock

vendor/
extensions/
node_modules/

easyrdf/

!.*
.idea/

selenium/configuration.yml
tests/browser/.idea
tests/browser/.bundle/*
tests/browser/config/config.yml
