# NOTE: Additional entries must only be added to this file
# by the person themself or upon their explicit, written request.

Alaa Sarhan <sarhan.alaa@protonmail.com> <alaa.sarhan@wikimedia.de>
Aleksey Bekh-Ivanov <aleksey.bekh-ivanov@wikimedia.de>
Amir Sarabadani <ladsgroup@gmail.com>
Anja Jentzsch <anja.jentzsch@wikimedia.de>
Daniel Kinzler <daniel.kinzler@wikimedia.de>
Denny Vrandecic <denny.vrandecic@wikimedia.de>
Guergana Tzatchkova <guergana.tzatchkova@wikimedia.de>
Jakob Warkotsch <jakob.warkotsch@wikimedia.de>
Jens Ohlig <jens.ohlig@wikimedia.de>
John Erling Blad <john.blad@wikimedia.de>
Jonas Kress <jonas.kress@wikimedia.de>
Leszek Manicki <leszek.manicki@wikimedia.de>
Lucas Werkmeister <lucas.werkmeister@wikimedia.de>
Martin Urbanec <martin.urbanec@wikimedia.cz>
Pablo Grass <pablo.grass@wikimedia.de>
Thiemo Kreuz <thiemo.kreuz@wikimedia.de>
Thiemo Kreuz <thiemo.kreuz@wikimedia.de> <thiemo.maettig@wikimedia.de>
Thomas Arrow <thomas.arrow_ext@wikimedia.de>
