Aleksey Bekh-Ivanov <aleksey.bekh-ivanov@wikimedia.de>
Amir Sarabadani <ladsgroup@gmail.com>
Jonas Kress <jonas.kress@wikimedia.de>
Katie Filbert <katie.filbert@wikimedia.de>
Katie Filbert <katie.filbert@wikimedia.de> <aude.wiki@gmail.com>
Leszek Manicki <leszek.manicki@wikimedia.de>
Thiemo Kreuz <thiemo.kreuz@wikimedia.de>
Thiemo Kreuz <thiemo.kreuz@wikimedia.de> <thiemo.maettig@wikimedia.de>
Thiemo Kreuz <thiemo.kreuz@wikimedia.de> <mr.heat@gmx.de>
