Amir Sarabadani <ladsgroup@gmail.com>
Jonas Kress <jonas.kress@wikimedia.de>
Katie Filbert <katie.filbert@wikimedia.de>
Katie Filbert <katie.filbert@wikimedia.de> <aude.wiki@gmail.com>
Thiemo Mättig <thiemo.maettig@wikimedia.de>
Thiemo Mättig <thiemo.maettig@wikimedia.de> <mr.heat@gmx.de>
