services:
	-
		class: Wikibase\Repo\Tests\Domains\Crud\Architecture\ArchitectureTest
		tags:
			- phpat.test
	-
		class: Wikibase\Repo\Tests\Domains\Search\Architecture\ArchitectureTest
		tags:
			- phpat.test
	-
		class: Wikibase\Repo\Tests\Domains\Reuse\Architecture\ArchitectureTest
		tags:
			- phpat.test
	-
		class: Wikibase\Repo\Tests\Architecture\ArchitectureTest
		tags:
			- phpat.test
	-
		class: Wikibase\Repo\Tests\RestApi\Architecture\ArchitectureTest
		tags:
			- phpat.test

parameters:
	level: 1
	phpat:
		ignore_built_in_classes: true
	paths:
		- ./repo/tests/architecture/
		- ./repo/domains/crud/src/
		- ./repo/domains/crud/tests/architecture/
		- ./repo/domains/search/src/
		- ./repo/domains/search/tests/architecture/
		- ./repo/domains/reuse/src/
		- ./repo/domains/reuse/tests/architecture/
		- ./repo/rest-api/src/
		- ./repo/rest-api/tests/architecture/

includes:
	- vendor/phpat/phpat/extension.neon
