services:
    -
        class: Wikibase\Repo\Tests\Domains\Crud\Architecture\ArchitectureTest
        tags:
            - phpat.test
    -
    	class: Wikibase\Repo\Tests\Domains\Search\Architecture\ArchitectureTest
    	tags:
    		- phpat.test

parameters:
	level: 1
	phpat:
		ignore_built_in_classes: true
	paths:
		- ./repo/domains/crud/src/
		- ./repo/domains/crud/tests/architecture/
		- ./repo/domains/search/src/
		- ./repo/domains/search/tests/architecture/

includes:
    - vendor/phpat/phpat/extension.neon
