<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         verbose="true">
    <testsuites>
        <testsuite name="WikibaseTests">
            <directory>client/tests/phpunit</directory>
            <directory>lib/tests/phpunit</directory>
            <directory>repo/tests/phpunit</directory>
            <directory>repo/rest-api/tests/phpunit</directory>
            <directory>view/tests/phpunit</directory>
            <directory>data-access/tests/phpunit</directory>
            <directory>lib/packages/wikibase/changes/tests</directory>
            <directory>lib/packages/wikibase/data-model/tests</directory>
            <directory>lib/packages/wikibase/data-model-serialization/tests</directory>
            <directory>lib/packages/wikibase/data-model-services/tests</directory>
            <directory>lib/packages/wikibase/federated-properties/tests</directory>
            <directory>lib/packages/wikibase/internal-serialization/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">client/includes</directory>
            <directory suffix=".php">client/maintenance</directory>

            <directory suffix=".php">lib/includes</directory>
            <directory suffix=".php">lib/maintenance</directory>

            <directory suffix=".php">repo/includes</directory>
            <directory suffix=".php">repo/maintenance</directory>

            <directory suffix=".php">view/src</directory>

            <directory suffix=".php">data-access/src</directory>

            <directory suffix=".php">lib/packages/wikibase/changes/src</directory>
            <directory suffix=".php">lib/packages/wikibase/data-model/src</directory>
            <directory suffix=".php">lib/packages/wikibase/data-model-serialization/src</directory>
            <directory suffix=".php">lib/packages/wikibase/data-model-services/src</directory>
            <directory suffix=".php">lib/packages/wikibase/federated-properties/src</directory>
            <directory suffix=".php">lib/packages/wikibase/internal-serialization/src</directory>
        </whitelist>
    </filter>
</phpunit>
