[project]
	description = MediaWiki extension Wikibase
	state = active
[access]
	inheritFrom = mediawiki/extensions
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group extension-Wikibase
	push = +force group extension-Wikibase
	pushTag = +force group extension-Wikibase
	create = group extension-Wikibase
	rebase = group extension-Wikibase
	abandon = group extension-Wikibase
	submit = group extension-Wikibase
	editTopicName = group extension-Wikibase
[submit]
	mergeContent = true
[access "refs/tags/*"]
	create = group extension-Wikibase
	push = +force group extension-Wikibase
	owner = group extension-Wikibase
