[project]
	description = MediaWiki extension Wikibase
	state = active
[access]
	inheritFrom = mediawiki/extensions
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group extension-Wikibase
	push = group extension-Wikibase
	pushTag = +force group extension-Wikibase
	create = group extension-Wikibase
[submit]
	mergeContent = true
