[project]
	description = MediaWiki extension Wikibase
	state = active
[access]
	inheritFrom = mediawiki/extensions
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group extension-Wikibase
	pushTag = group extension-Wikibase
[submit]
	mergeContent = true
[access "refs/tags/*"]
	push = +force group extension-Wikibase
