.wb-db-dialog .oo-ui-dialog-content > .oo-ui-window-body {
	overflow: hidden;
}

.wb-db-dialog .oo-ui-panelLayout {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}
