# Browserslist configuration of browsers with basic level of support.
# Please see https://www.mediawiki.org/wiki/Compatibility#Mobile and
# https://github.com/wikimedia/browserslist-config-wikimedia/
# See also browsers definition in ResourceLoader startup module
# in MediaWiki core 'resources/src/startup/startup.js'.

# since we're now using Vue 3, there is no point in trying to produce a bundle for non-es6 browsers,
# because Proxy cannot be polyfilled/transpiled.

last 2 Chrome versions
last 2 Firefox versions
last 2 Opera versions
last 2 Edge versions
Android >= 96

Safari >= 10
iOS >= 10
