{
	"processors": [
		"stylelint-processor-html"
	],

	"extends": "stylelint-config-wikimedia",

	"plugins": [
		"stylelint-scss"
	],

	"rules": {
		"at-rule-empty-line-before": [ "always", {
			"except": [
				"blockless-after-blockless",
				"first-nested"
			],
			"ignore": "after-comment",
			"ignoreAtRules": [ "else" ]
		} ],
		"at-rule-no-unknown": null,
		"scss/at-else-empty-line-before": "never",
		"scss/at-rule-no-unknown": true,
		"unit-disallowed-list": null
	}
}
