@mixin errorBailout() {
	&__message {
		margin: 0 $margin-center-column-side;
	}

	&__head {
		font-weight: bold;
		line-height: $line-height-text;
		margin-bottom: $base-spacing-unit;
	}

	&__body {
		line-height: $line-height-text;
	}
}
