@mixin h5() {
	// this is named after the style in the wmf style guide, it is not restricted to <h5></h5> elements

	font-weight: $bold-font-weight;
	line-height: $line-height-heading;
	font-size: 1rem;
}
