@mixin inputFieldBase() {
	display: block;
	box-sizing: border-box;
	width: 100%;
	resize: none;
	overflow: auto;
	background-color: transparent;
	font-size: $font-size-bodyS;
	margin: 0;
	margin-top: 0.5 * $base-spacing-unit-fixed;

	&::placeholder {
		font-style: italic;
		color: $color-placeholder;
	}

	@media ( max-width: $breakpoint ) {
		font-size: $font-size-bodyM;
	}
}
