<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         verbose="true">
    <testsuites>
        <testsuite name="QueryEngine">
            <directory>tests/phpunit</directory>
            <exclude>tests/integration</exclude>
        </testsuite>
        <testsuite name="QueryEngineIntegration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
