.wbc-editpage {
	list-style: none none;
	text-align: right;
	padding-right: .5em !important; 
}

.wbc-editpage > a {
	padding-left: 11px;
	background: no-repeat left center;
}

.wbc-editpage > a:link, .wbc-editpage > a:visited {
	/* @embed */
	background-image: url(WBC-Asset-Pencil.png);
	color: #797979 !important;
}

.wbc-editpage > a:hover {
	/* @embed */
	background-image: url(WBC-Asset-Pencil-Hover.png);
	color: #0645AD !important;
}
