.wb-langlinks-link {
	line-height: 1.125em;
	font-size: 0.75em;
	float: right;
}

.wb-langlinks-link {
	list-style: none none;
	text-align: right;
	padding-right: 0.5em !important;
}

.wb-langlinks-link > a {
	padding-left: 11px;
	background: no-repeat left center;
}

.wb-langlinks-link > a:link,
.wb-langlinks-link > a:visited {
	/* @embed */
	background-image: url( images/WBC-Asset-Pencil.png );
	color: #797979 !important;
}

.wb-langlinks-link > a:hover {
	/* @embed */
	background-image: url( images/WBC-Asset-Pencil-Hover.png );
	color: #0645ad !important;
}
