<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         verbose="true">
    <testsuites>
        <testsuite name="WikibaseDatabaseStandalone">
            <directory>tests/phpunit</directory>
            <exclude>tests/phpunit/MWDB</exclude>
            <exclude>tests/phpunit/MediaWikiQueryInterfaceTest.php</exclude>
            <exclude>tests/phpunit/LazyDBConnectionProviderTest.php</exclude>
        </testsuite>
        <testsuite name="WikibaseDatabaseMediaWiki">
            <directory>tests/phpunit/MWDB</directory>
            <file>tests/phpunit/MediaWikiQueryInterfaceTest.php</file>
            <file>tests/phpunit/LazyDBConnectionProviderTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
