.vector-search-box {
	.vector-typeahead-search-container {
		.vector-typeahead-search-scope-select {
			float: left;
			width: fit-content;
			position: relative;
			z-index: 1;
			min-width: 11em;

			.cdx-select {
				min-width: auto;
				max-width: 11em;
			}

			.cdx-select-vue {
				width: 100%;

				div {
					min-width: auto;
				}
			}
		}

		.cdx-typeahead-search--show-thumbnail.cdx-typeahead-search--auto-expand-width:not( .cdx-typeahead-search--expanded ) {
			margin-left: auto;
		}

		.cdx-typeahead-search {
			.cdx-search-input__text-input {
				margin-top: 1px;
			}
		}
	}
}
