/**
 * CSS for table of contents.
 *
 * @licence GNU GPL v2+
 * @author H. Snater < mediawiki@snater.com >
 * @author Thiemo Mättig
 */

.wikibase-entityview #toc {
	background-color: #f8f8f8;
	border-collapse: collapse;
	border-color: #c9c9c9;
	float: left;
	margin-top: 1.8em;
	width: 100%;
}

.wikibase-entityview #toc #toctitle {
	display: none;
}

.wikibase-entityview #toc ul {
	float: left;
	margin: 0 0 0 -.5em;
	padding: .4em 10px;
}

.wikibase-entityview #toc li {
	border-right: 1px solid #c9c9c9;
	float: left;
	margin: 0;
	padding: 0 .5em;
	white-space: nowrap;
}

.wikibase-entityview #toc li:last-child {
	border-right: 0;
}

/* FIXME: Should be removed if the Typography refresh is stable */
#content .wikibase-entityview #toc {
	margin-top: 1.8em;
}
