/**
 * CSS for table of contents.
 *
 * @licence GNU GPL v2+
 * @author H. Snater < mediawiki@snater.com >
 */

.wb-entity #toc {
	background-color: #f8f8f8;
	border-collapse: collapse;
	border-color: #c9c9c9;
	float: left;
	margin-top: 1.8em;
	width: 100%;
}

.wb-entity #toc #toctitle {
	display: none;
}

.wb-entity #toc ul {
	float: left;
	margin: 0;
	padding: 0.4em 10px;
}

.wb-entity #toc li {
	border-left: 1px solid #c9c9c9;
	float: left;
	margin-bottom: 0;
	padding: 0 0.5em;
	white-space: nowrap;
}

.wb-entity #toc li:first-child {
	border-left: none;
	padding-left: 0;
}
