/**
 * CSS for table of contents.
 *
 * @licence GNU GPL v2+
 * @author H. Snater < mediawiki@snater.com >
 * @author T. Mättig < thiemo.maettig@wikimedia.de >
 */

.wb-entity #toc {
	background-color: #f8f8f8;
	border-collapse: collapse;
	border-color: #c9c9c9;
	float: left;
	margin-top: 1.8em;
	width: 100%;
}

.wb-entity #toc #toctitle {
	display: none;
}

.wb-entity #toc ul {
	float: left;
	margin: 0 0 0 -.5em;
	padding: .4em 10px;
}

.wb-entity #toc li {
	border-right: 1px solid #c9c9c9;
	float: left;
	margin: 0;
	padding: 0 .5em;
	white-space: nowrap;
}

.wb-entity #toc li:last-child {
	border-right: 0;
}

/* FIXME: Very specific selector to temporary overrule VectorBeta extension */
#content .wb-entity #toc {
	margin-top: 1.8em;
}
