# Copy this file to config.yml on your local system and set the values to your needs.
# You can always set all of the below variables in your local environment by doing
# set <VARIABLE>=<VALUE> (on Windows) or
# export <VARIABLE>=<VALUE> (on Unix)
# The environment variable will then be used instead of the values in here.

# beta instance configuration
WIKIDATA_REPO_URL: "http://wikidata.beta.wmflabs.org/wiki/"
WIKIDATA_REPO_API: "http://wikidata.beta.wmflabs.org/w/api.php"
WB_REPO_USERNAME: "WikidataUser"
WB_REPO_PASSWORD: "WikidataPassword"

# local configuration
#WIKIDATA_REPO_API: "http://localhost/mediawiki/api.php/"
#WIKIDATA_REPO_URL: "http://localhost/mediawiki/index.php/"
#WB_REPO_USERNAME: "LocalUser"
#WB_REPO_PASSWORD: "LocalPassword"

# the namespace of the data items (e.g. "Data:" or "" for main namespace)
ITEM_NAMESPACE: ""
PROPERTY_NAMESPACE: "Property:"
ITEM_ID_PREFIX: "Q"
PROPERTY_ID_PREFIX: "P"
LANGUAGE: "en"
LANGUAGE_CODE: "en"
LANGUAGE_NAME: "English"

# local browser configuration
BROWSER: "firefox"

# sauce browser configuration
#SAUCE_ONDEMAND_USERNAME: "SaucelabsUser"
#SAUCE_ONDEMAND_ACCESS_KEY: "SaucelabsKey"
#BROWSER: "firefox"
#VERSION: "25"
#PLATFORM: "Linux"
