body {
	/**
	 * Todo: can we somehow use synergies with the mock entry?
	 * Designed to be close to https://doc.wikimedia.org/oojs-ui/master/demos/
	 */
	font-size: 0.875em;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
