 DEFAULT_BROWSER: "firefox" # "chrome" "ie" "opera" "safari" "firefox"
 WIKI_URL: "http://localhost/wiki/"
 WIKI_USELANG: "en"
 WIKI_SKIN: "vector" # "vector" "monobook"
 WIKI_USERNAME: "Username"
 WIKI_PASSWORD: "Password"
 WIKI_BLOCKED_USERNAME: "Username"
 WIKI_BLOCKED_PASSWORD: "Password"
 REMOTE_SELENIUM_HUB: "http://192.168.2.251:4444/wd/hub"
