@import 'mediawiki.skin.variables.less';

.wikibase-wbui2025-main-snak {
	.wikibase-rankselector {
		position: absolute;
		padding-left: 1rem;
		padding-top: 0.5rem;

		.ui-icon.ui-icon-rankselector {
			display: inherit;
		}
	}
}
