@import 'mediawiki.skin.variables.less';

.wikibase-wbui2025-statement-group {
	.wikibase-wbui2025-qualifiers {
		background-color: @background-color-base;

		.wikibase-wbui2025-qualifier {
			background-color: @background-color-neutral-subtle;
			padding-left: 2em;
			margin-bottom: 0.25rem;
		}

		.wikibase-wbui2025-property-name-link {
			padding: 0;
		}
	}
}
