@import 'mediawiki.skin.variables.less';

.wikibase-wbui2025-statement-group {
	.wikibase-wbui2025-qualifiers {
		background-color: @background-color-base;

		.wikibase-wbui2025-qualifiers-header {
			padding-top: 0.5rem;
			margin: 0;
			display: flex;
			align-items: center;

			span {
				padding: 0.25rem;
			}

			.cdx-icon {
				vertical-align: middle;
			}
		}

		.wikibase-wbui2025-qualifier {
			background-color: @background-color-neutral-subtle;
			padding-left: 2em;
			margin-bottom: 0.25rem;
		}

		.wikibase-wbui2025-snak-value {
			display: inline;
		}

		.wikibase-wbui2025-property-name-link {
			padding: 0;
		}
	}
}
