@import 'mediawiki.skin.variables.less';

.wikibase-wbui2025-time-value {
	.wb-calendar-name {
		font-style: italic;
		padding-left: 0.5em;
	}
}

.wikibase-wbui2025-globe-coordinate-value {
	>div {
		display: flex;
		flex-direction: column;
	}

	.wikibase-kartographer-caption {
		order: 0;
		margin: @spacing-50 @spacing-0 @spacing-25 @spacing-75;
	}

	.mw-parser-output {
		order: 1;
	}

	a.mw-kartographer-map {
		width: 100%;
	}
}

.wikibase-wbui2025-main-snak:has( .wikibase-wbui2025-media-value ) {
	align-items: flex-start;
}

.wikibase-wbui2025-snak-value {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	gap: 3rem;
	margin: 0;
	padding: @spacing-0 @spacing-0 @spacing-0 @spacing-30;
}
