@import "_variables";

.skin-minerva {
	#page-actions .mw-ui-icon {
		@heading-holder-height: 2.1em;
		@action-area-size: 48px;
		@action-icon-width: 20px;
		width: @action-area-size;
		height: @action-area-size;
		min-width: @action-area-size;
		right: -9px;

		&:before {
			margin: 0;
			background-size: @action-icon-width auto;
			width: @action-area-size;
			height: @action-area-size;
		}
	}

	@heading-holder-padding: 0.4em;

	&.wb-entitypage .pre-content.heading-holder {
		padding: @heading-holder-padding 0;
	}

	&.wb-entitypage #page-actions {
		position: absolute;
		top: -0.5em;
		border-top: 0 none;
		height: 1em + 2 * @heading-holder-padding;
		overflow: visible;
	}

	&.wb-entitypage .pre-content h1 {
		font-size: 1em;
		color: @color-light-azureish-gray;
	}

	&.wb-entitypage #bodyContent {
		margin-top: 0.3em;
	}
}
