@import "_variables";

.skin-minerva {

	#ca-watch {
		width: 48px;
		min-width: 48px;
		top: 0.3em;
		right: -14px;

		&:before {
			margin: 0 14px;
		}
	}

	&.wb-entitypage .pre-content.heading-holder {
		padding: 0.4em 0;
	}

	&.wb-entitypage #page-actions {
		border-top: 0 none;
	}

	&.wb-entitypage .pre-content h1 {
		font-size: 1em;
		color: @color-light-azureish-gray;
	}

	&.wb-entitypage #bodyContent {
		margin-top: 0.3em;
	}

}
