@import 'mediawiki.skin.variables.less';

.wikibase-wbui2025-main-snak {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding: @spacing-75 @spacing-65;

	.wikibase-rankselector {
		display: flex;
		align-items: center;
		width: 20px;
		height: 20px;
		justify-content: center;

		.ui-icon.ui-icon-rankselector {
			display: inherit;
		}
	}

	.wikibase-wbui2025-media-value {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 1rem;
		margin: 0;

		.thumb {
			float: none;
			flex-shrink: 0;
			margin: 0;
			padding: 0;

			img {
				max-height: 124px;
				max-width: 124px;
				height: auto;
				width: auto;
				float: right; // removed padding ing both img and commons media caption to keep the aligned
				display: block; // remove inline spacing
				margin: 0;
				padding: 0;
			}
		}

		.commons-media-caption {
			font-size: @font-size-small;
			line-height: 1em;
		}
	}
}
