{
	"processors": [
		"stylelint-processor-html"
	],

	"extends": "stylelint-config-wikimedia",

	"plugins": [
		"stylelint-scss"
	],

	"rules": {
		"at-rule-no-unknown": null,
		"scss/at-rule-no-unknown": true
	}
}
