.ui-inputextender-extension .valueview-expertextender-calendarhint {
	margin-top: 0;
}

.ui-inputextender-extension .valueview-expertextender-calendarhint-message {
	margin-right: 0.5em;
}

.ui-inputextender-extension .valueview-expertextender-calendarhint-switch {
	background: none;
	border: none;
	cursor: pointer;
}
