 DEFAULT_BROWSER: "firefox"
 SUPPORTED_BROWSERS: ["firefox", "chrome", "ie"]
 WIKI_REPO_URL: "http://localhost/wikidata-repo/"
 WIKI_CLIENT_URL: "http://localhost/wikidata-client/"
 WIKI_USELANG: "en"
 WIKI_SKIN: "vector" # "vector" "monobook"
 WIKI_ADMIN_USERNAME: "Username"
 WIKI_ADMIN_PASSWORD: "Password"
 WIKI_BLOCKED_USERNAME: "Username"
 WIKI_BLOCKED_PASSWORD: "Password"
 WIKI_ORDINARY_USERNAME: "Username"
 WIKI_ORDINARY_PASSWORD: "Password"
 REMOTE_SELENIUM_HUB: "http://192.168.2.251:4444/wd/hub"
 CONSOLE_LOG: false
