 DEFAULT_BROWSER: "firefox"
 SUPPORTED_BROWSERS: ["firefox", "chrome", "ie"]
 WIKI_REPO_URL: "http://localhost/wikidata-repo/index.php/"
 WIKI_CLIENT_URL: "http://localhost/wikidata-client/index.php/"
 WIKI_USELANG: "en"
 WIKI_SKIN: "vector" # "vector" "monobook"
 WIKI_ADMIN_USERNAME: "Username"
 WIKI_ADMIN_PASSWORD: "Password"
 CLIENT_ADMIN_USERNAME: "Username"
 CLIENT_ADMIN_PASSWORD: "Password"
 WIKI_BLOCKED_USERNAME: "Username"
 WIKI_BLOCKED_PASSWORD: "Password"
 WIKI_ORDINARY_USERNAME: "Username"
 WIKI_ORDINARY_PASSWORD: "Password"
 REMOTE_SELENIUM_HUB: "http://192.168.2.251:4444/wd/hub"
 CONSOLE_LOG: false

 # the namespace of the data items (e.g. "Data:" or "" for main namespace)
 ITEM_NAMESPACE: ""
 # the namespace of the properties (e.g. "Property:")
 PROPERTY_NAMESPACE: ""

 # the prefix of item ids (e.g. "Q" at the moment)
 ITEM_ID_PREFIX: "Q"
 # the prefix of property ids (e.g. "P" at the moment)
 PROPERTY_ID_PREFIX: "P"

 # Language to be used for testing (code & local name)
 LANGUAGE_CODE: "en"
 LANGUAGE_NAME: "english"

 # Enable/disable testing of experimental features
 EXPERIMENTAL: true