name: Wikibase Secondary CI
on:
  push:
    branches: [ master ]

jobs:
  secondary-ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - env:
            MW_BRANCH: master
            DBTYPE: sqlite
            LANG: ru
            WB: both
          php-versions: '7.4.32'
        - env:
            MW_BRANCH: master
            DBTYPE: sqlite
            LANG: en
            WB: client
          php-versions: '7.4.32'
        - env:
            MW_BRANCH: master
            DBTYPE: mysql
            LANG: en
            WB: repo
          php-versions: '7.4.32'
        - env:
            MW_BRANCH: master
            DBTYPE: sqlite
            LANG: ar
            WB: both
          php-versions: '7.4.32'
        - env:
            MW_BRANCH: master
            DBTYPE: mysql
            LANG: en
            WB: both
          php-versions: '7.4.32'
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up MySQL
      uses: mirromutth/mysql-action@v1.1
      with:
        mysql version: '5.7'
        mysql database: 'test_db_wiki'
        mysql root password: 'root'
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: pdo_sqlite, mysqlnd
    - name: Cache Composer cache
      uses: actions/cache@v3.2.6
      with:
        path: $HOME/.composer/cache
        key: composer-cache-php${{ matrix.php-versions }}
    - name: install.sh
      env: ${{ matrix.env }}
      run: |
        bash ./build/ci-scripts/install.sh
    - name: Apply WB settings
      env: ${{ matrix.env }}
      run: |
        bash ./build/ci-scripts/mw-apply-wb-settings.sh
    - name: Update DB
      env: ${{ matrix.env }}
      run: |
        bash ./build/ci-scripts/update-db.sh
    - name: Run script
      env: ${{ matrix.env }}
      run: |
        bash ./build/ci-scripts/script.sh
    - name: Send mail
      if: ${{ failure() }}
      uses: dawidd6/action-send-mail@v3.7.1
      with:
        server_address: smtp.gmail.com
        server_port: 465
        username: ${{secrets.MAIL_USERNAME}}
        password: ${{secrets.MAIL_PASSWORD}}
        subject: Github Action job failed for Wikibase
        html_body: |
          Job secondary-ci failed!
          The failed job can be found in <a href="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}">here</a>
          <h3>Specifications of the failed job:</h3>
          <ul>
          <li>php version: ${{ matrix.php-versions }}</li>
          <li>Database type: ${{ matrix.env.DBTYPE }}</li>
          <li>MediaWiki language: ${{ matrix.env.LANG }}</li>
          <li>Wikibase type: ${{ matrix.env.WB }}</li>
          <li>MediaWiki core branch: ${{ matrix.env.MW_BRANCH }}</li>
          </ul>
          CI specifications can be found in <a href="https://github.com/${{ github.repository }}/actions/workflows/secondaryCI.yml">here</a>
        to: wikidata-ci-status@wikimedia.de
        from: Wikibase Github Action CI
